@import "tailwindcss";

@theme {
  --color-hsp-red: #d93025;
  --color-hsp-dark: #0f172a;
  --color-hsp-gray: #64748b;
  --color-hsp-card: #F2F3F3;
}

body {
  background: #ffffff;
  color: #0f172a;
  font-family: Arial, Helvetica, sans-serif;
}
