@import "tailwindcss";

@theme {
  --color-hsp-red: #CE2C22;
  --color-hsp-dark: #0f172a;
  --color-hsp-gray: #5A6779;
  --color-hsp-card: #F2F3F3;
}

body {
  background: #ffffff;
  color: #0f172a;
  font-family: Arial, Helvetica, sans-serif;
}
